html {
    scroll-behavior: smooth;
  }

body{
    margin:0;
    background-color: white;
    scrollbar-width: thin;
    scrollbar-color:#505050 #9c9c9c;

}

*, *::before, *::after {
    box-sizing: border-box;
}


body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: #9c9c9c;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #505050ce; 
    border-radius: 20px; 
}

.card-container{
    max-width: 1200px; /*taille maximal de la boite en plein écran*/
    margin: 0 auto; /*la hauteure du container s'adaptera aux éléments et à la taille de la fénêtre*/
}

.cards {
display: flex; 
flex-wrap: wrap;/*retour à la ligne lorsuqe qu'on arrive à la fin de la longueur max-width*/
list-style: none; /*sans point de liste <li>*/
margin: 0;
padding: 0;
}

.cards_item {
padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
    width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
    width: 33.3333%;
    }
}

.card { /*la carte en elle-même*/
border-radius: 0.2rem;
box-shadow: 0 3px 10px 1px rgba(0,0,0,.48);
display: flex;
flex-direction: column; /*image puis information en colone*/
overflow: hidden; /* apparemment évite que les carte soient toutes collées */
}

/*à l'intérieur du rectangle orange, les informations*/
.card_content {
padding: 1rem;
background: #333333; /*dégradé*/
}

.card_title {
color: #ffffff;
font-size: 1.1rem;
letter-spacing: 1px;
text-transform: capitalize;
}

.card_text {
color: #ffffff;
font-size:1rem;
line-height: 1.5; /*espace entre les saut de lignes*/
margin-bottom: 1.25rem;    /*espace entre le en savoir plus et le texte*/
}
img {
    height: 20rem;;
    width:32rem;
    vertical-align: middle;
}

.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12); /*changer l'opacité au hover du bouton*/
}

@media (max-width:650px){
    .cards_item{
        width: 100%;
    } 
}

@font-face{ 
font-family: "Dyno";
src: url(../police/Dyno-Regular.ttf)
}


@font-face{ 
    font-family: "Dyno-bold";
    src: url(../police/Dyno-Bold.ttf)
    }

@font-face{ 
    font-family: "Cicle";
    src: url(../police/Cicle\ Semi.ttf)
    }

@font-face{ 
    font-family: "Cicle_Gordita";
    src: url(../police/Cicle\ Gordita.ttf)
    }

.iconimg{
    background: rgba(94, 88, 82, 0.72);
    width: 55px;
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    height: 55px;
    transition: transform .4s;
}


.iconimg img {
    opacity:1;
    width: 45px;
    height: 45px;
}
.iconimg:hover{
    background: rgba(126, 121, 117, 1);
    -ms-transform: scale(1.3); 
    -webkit-transform: scale(1.3); 
    transform: scale(1.3);
    }

.sideicons{
    
    width: 80px;
    height: 220px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    top:32%;
    left: 0.5%;
    z-index: 1000;
}

.container-gotop {
    
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    
    }
    
.gotop {
    position: fixed;
    bottom: 20px;      
    margin-right:10px; 
    z-index: 1000;
}

.imggotop{
    padding-right: 20px;
    vertical-align: middle;
    width:120%;
    height: auto;
}

    