.fond{
    height: 100%;
    width:100%;
    position: fixed;
    z-index: -1000000000;
}

.containertitre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #505050;
    height: 100px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.300) 5px 5px;
    position: fixed;
    z-index: 2;
}

.menu{
    height: 20px;
    width: 100%;
    text-shadow: rgba(0, 0, 0, 0.300) 2px 2px;
    position: fixed;
    font-size: 20px;
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;
    z-index: 1;
    font-family: Dyno;
	
}
  
.containerfin{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #333333;
    height: 120px;
    width: 100%;
    position: relative;
    bottom: 0;
	margin:0;
    left:0
}

.finimg{
    width:50px;
    height: 50px;
}

#contenu_finimg img {
    width:50px;
    height: 50px;
    max-width: 6em;
    margin-top: 20px;
    margin-left: 20px;
    transition: 0.3s ease-in-out;
  }
  
#contenu_finimg img:hover {
    transform: scale(1.3, 1.3) rotate(10deg);
}

.containercorp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top:110px;
    height: 1000px;
    width: 100%;
}

body{
    background-image: url(../image/HautVillers.jpg);
    background-repeat: no-repeat;
    color: white;
}

.bandegrise{
    background-color: #333333;
	width:100%;
	height:550px;
	z-index:-1;
	position:absolute;
	margin:0px;
	box-shadow: rgba(0, 0, 0, 0.300) 5px 5px;
	padding:0;
	margin:0;
}



.bandeCarroussel{
	background-color: #f7af3e;
	width:100%;
	height:550px;
	z-index:-1;
	position:realtive;
	padding:25px;
}


.text{
    background-color:#505050;
    width: 50%;
    height: 30%;
    padding: 15px;
    margin: 10px;
    position:relative;
    font-size: 13px;
    box-shadow: rgba(0, 0, 0, 0.300) 5px 5px;;
}

.droite{
    top: 40px;
    right: -10%;  
}

.gauche{
    left: 40%;
}

.centre{
    height: 70%;
    margin: auto;
}

.savoirplus{
    border: black solid 1px;
    border-radius: 5px;
    position: relative;
    text-align: center;
    font-family: Cicle;
}


a{
    color: white;
    text-decoration: None;
    z-index: 1;
}


.clicable:hover{
    text-decoration: underline #b94503 3px;
    font-family: Dyno;
}


h1{
    font-size: 40px;
    color: #f7af3e;
    font-family: Dyno-bold;
}

h2{
    font-size: 25px;
    color: #b94503;
    font-family: Dyno;
}

h3{
    font-size: 20px;
    font-family: Dyno;
}

h5{
    font-family: Dyno-bold;
}

p{
    text-align: justify ;
    font-family: Cicle;
}

img{
    height: 100px;
}

.card-img-top{
    height:50vh;
    width:80%;
    object-fit: cover;
}

.owl-prev{ /*style de la flèche previous */
    left:-30px;
}

.owl-next{ /*style de la flèche next */
    right:-30px;
}

.owl-prev, .owl-next{
    position: absolute;
    top:100px;
}

.owl-prev span, .owl-next span{
    font-size:80px;
    color: black;
}

.owl-theme, .owl-nav[class*="owl-"]:hover{
    background: transparent;
}


@font-face{ 
    font-family: "Dyno";
    src: url(../police/Dyno-Regular.ttf)
    }


@font-face{ 
    font-family: "Dyno-bold";
    src: url(../police/Dyno-Bold.ttf)
    }

@font-face{ 
    font-family: "Cicle";
    src: url(../police/Cicle\ Semi.ttf)
    }


.container-gotop {
    
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    
    }
    
.gotop {
    position: fixed;
    bottom: 20px;      
    margin-right:10px; 
    z-index: 1000;
   
}

.imggotop{
    padding-right: 20px;
    width:120%;
    height: auto;
}


.sideicons{
    width: 80px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    top:32%;
    left: 0.5%;
    z-index: 1000;
  }
  
  
  
.iconimg{
    padding-top: 10px;
    width: 60px;
    height: auto;
    transition: transform .4s;
    border-radius: 20px;
}
.iconimg:hover{
    -ms-transform: scale(1.3); 
    -webkit-transform: scale(1.3); 
    transform: scale(1.3);
}