body{
    margin:0;
    background-color: white;
    scrollbar-width: thin;
    scrollbar-color:#505050 #9c9c9c;

}

*, *::before, *::after {
    box-sizing: border-box;
}


body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: #9c9c9c;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #505050ce; 
    border-radius: 20px; 
}

article h1 {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: Cicle;
    background-color: #b94503;
    margin-bottom: 10vh;
    margin-top: 15vh;
  }
p{
    text-indent: 10%;
    font-family: Cicle;
}