
body{background-color: #f1d6aae5;}

@font-face{ 
    font-family: "Dyno";
    src: url(../police/Dyno-Regular.ttf)
    }


@font-face{ 
    font-family: "Dyno-bold";
    src: url(../police/Dyno-Bold.ttf)
    }

@font-face{ 
    font-family: "Cicle";
    src: url(../police/Cicle\ Semi.ttf)
    }

@font-face{ 
    font-family: "Cicle_Gordita";
    src: url(../police/Cicle\ Gordita.ttf)
    }




.containercorp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top:30vh;
    height: auto;
    width: 100%;
    background-color: #33333300;
}


.text{
    width: 70%;
    height:auto;
    padding: 25px;
    margin: 10px;
    display: grid;
    font-size: 18px;
    height: 70%;
    margin: auto;
}

h1  { margin: 25px 0; 
    font-size: 35px;
    color: #333333;
    font-family: Dyno; 
    text-transform: uppercase; 
    letter-spacing: 3px; 
    text-align: center;
    border:solid 2px #333333;
}

img{
    width: 100px;
    height:100px;
}

#quiz input {
    vertical-align: middle;
}


#quiz label{
    font: 18px Cicle;
    color: white;
}

#quiz ol {
   margin: 10% 20% 10px 20%;
}

#quiz ol li {
   margin: 0 0 20px 0;
   font-size: 25px;
   font-family: Dyno-bold;
   margin: 0 0 1px 0; 
   color: #b94503;
   border-radius: 0.2rem;
   box-shadow: 0 3px 10px 1px rgba(0,0,0,.48);
   margin-bottom: 50px;
   padding:10px
}

.red{
    background-color: rgb(252, 138, 138);
}

.green{
    background-color: rgb(144, 242, 144);
}

.grey{
    background-color: #505050;
}

#quiz ol li div{
   padding: 4px 0;
   font-size: 15px;
   font-family: Dyno-bold;
   color:white;
}

#quiz ol li p{
   font-size: 15px;
   font-family: Dyno;
   color:black;
}

#quiz h3 {
    font-size: 25px;
    font-family: Dyno-bold;
    margin: 0 0 1px 0; 
    color: #b94503;
}

#results {
    font: 44px Georgia, Serif;
}

.submitbtn{
    color: #ffffff;
    padding:0.8rem;
    margin: 50px 33% 0 33%;
    font-size: 14px;
    border-radius: 20px;
    width: 33%;
    cursor: pointer;
    border: 1px solid #b9460391;
    background: #b9460391;
}

.submitbtn:hover {
    background-color: rgba(202, 150, 91, 0.856); /*changer l'opacité au hover du bouton*/
}


@media (max-width:650px){
    .text{
        width: 100vw;
        font-size: 25px;
        font-size: 15px;
        height: 100%;
    }

    #quiz ol li {
        width:80vw;
     }
    
    #quiz ol{
        margin:0;
        padding:0;
    }
}